extends layout
include mixins

block content
  h1 Recipe Explorer -- 
  p upload, search, and filter recipes easily. 
  +panel("Filters") 
    +button("default", "link.htm") Breakfast
    +button("default", "link.htm") Lunch
    +button("default", "link.htm") Dinner
  

  // /#page-wrapper





